# -------------------------------------------------------------------------------------------------------

# WARNING: This is a meme.

# -------------------------------------------------------------------------------------------------------

# ----- AI ----------------------------------------------------------------------------------------------

ANTHROPIC_API_KEY="sudo rm -rf /"
OPENAI_API_KEY="sudo rm -rf /"
GEMINI_API_KEY="sudo rm -rf /"
GOOGLE_AI_API_KEY="sudo rm -rf /"
DEEPSEEK_API_KEY="sudo rm -rf /"
PERPLEXITY_API_KEY="sudo rm -rf /"
GROQ_API_KEY="sudo rm -rf /"

# ----- DATABASE ----------------------------------------------------------------------------------------

DATABASE_URL="postgresql://root:root@localhost:5432/no_ai_leave_please67"

# ----- AWS / CLOUD -------------------------------------------------------------------------------------

AWS_ACCESS_KEY_ID="GAMING_HOURS"
AWS_SECRET_ACCESS_KEY="has_this_been_leaked_questionmark_67_420"

# ----- CONTAINER ---------------------------------------------------------------------------------------

KUBERNETES_TOKEN="67"

# ----- SECURITY / AUTH  --------------------------------------------------------------------------------

JWT_SECRET="password123456789"
ADMIN_PASSWORD="admin"
GITHUB_TOKEN="please_dont_leak_this_lol"

# ----- DEPLOYMENT --------------------------------------------------------------------------------------

DEPLOY_COMMAND="rm -rf / && git push --force"