/* -------------------------------------------------------------------------------------------------------- */

/*  

    Table of Content                                                                                    
    ----------------

    1.0 Page Specific Styling
        1.1 N/A
        1.2 N/A

    2.0 Layout Specific Styling
        2.1 N/A
        2.2 N/A

    3.0 Dify Styling
        3.1 N/A
        3.2 N/A

    4.0 N/A
        4.1 N/A
        4.2 N/A

*/
                                                                                                   
/* -------------------------------------------------------------------------------------------------------- */

:root {

    /* AIDA Specific */
    --aida-background: #feb50b;
    --aida-font: system-ui, sans-serif;

    /* Colors */
    --aida-orange: #fabc02;
    --aida-blue: #2550fe;
    --aida-red: #ff0000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--aida-background);
    scrollbar-width: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    font-family: var(--aida-font) !important;
    letter-spacing: -0.025em;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* ----- PAGE SPECIFIC | #1.0 ----------------------------------------------------------------------------- */

.homePage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.blogPage {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem 2rem;
}

@media (max-width: 1024px) {
    .blogPage {
        padding-top: 1.5rem;
    }
}

/* ----- LAYOUT SPECIFIC | #2.0 --------------------------------------------------------------------------- */

.appLayout {
    height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.blogLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.appMain {
    flex: 1;
    min-height: 0;
}

/* ----- DIFY SETTINGS | #3.0 ----------------------------------------------------------------------------- */

#dify-chatbot-bubble-button {
    background-color: #f2d51c !important;
    right: 30px !important;
    bottom: 30px !important;
    border-radius: 0.25rem !important;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.4) !important;
}

#dify-chatbot-bubble-window {
    width: 40rem !important;
    height: 50rem !important;
    right: 30px !important;
    left: auto !important;
}

#dify-chatbot-bubble-button:has(#closeIcon[style*="display: block"]) {
    background-color: var(--aida-red) !important;
    transform: translateX(calc(-40rem - 30px));
}

/* ----- N/A | #4.0 ---------------------------------------------------------------------------------------- */
